<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>한 캔 beer | 작성페이지</title>

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .posting-box {
            width: 500px;
            margin-top: 20px;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .wrap .<
        .container {
            padding-left: 50px;
        }
    </style>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })



        function posting_new() {
            let beer_name = $("#beer-name").val()
            let beer_type = $("#beer-type").val()
            let beer_company = $("#beer-company").val()
            let beer_country = $("#beer-country").val()
            let beer_date = $("#beer-date").val()
            let mini_price_1 = $("#mini-price-1").val()
            let mini_price_4 = $("#mini-price-4").val()
            let gs_price_1 = $("#GS-price-1").val()
            let gs_price_4 = $("#GS-price-4").val()
            let cu_price_1 = $("#CU-price-1").val()
            let cu_price_4 = $("#CU-price-4").val()
            let seven_price_1 = $("#seven-price-1").val()
            let seven_price_4 = $("#seven-price-4").val()
            let nobrand_price_1 = $("#nobrand-price-1").val()
            let nobrand_price_4 = $("#nobrand-price-4").val()


            let file = $("#file")[0].files[0]
            let form_data = new FormData()

            form_data.append("file_give", file)
            form_data.append("beer_name", beer_name)
            form_data.append("beer_type", beer_type)
            form_data.append("beer_company", beer_company)
            form_data.append("beer_country", beer_country)
            form_data.append("beer_date", beer_date)
            form_data.append("mini_price_1", mini_price_1)
            form_data.append("mini_price_4", mini_price_4)
            form_data.append("gs_price_1", gs_price_1)
            form_data.append("gs_price_4", gs_price_4)
            form_data.append("cu_price_1", cu_price_1)
            form_data.append("cu_price_4", cu_price_4)
            form_data.append("seven_price_1", seven_price_1)
            form_data.append("seven_price_4", seven_price_4)
            form_data.append("nobrand_price_1", nobrand_price_1)
            form_data.append("nobrand_price_4", nobrand_price_4)


            $.ajax({
                type: "POST",
                url: "/api/writing",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = '/'
                }
            });
        }
    </script>
</head>

<body>
<div class="wrap">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>새로운 맥주를 등록합니다.</h1>
            <div class="posting-box">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file">
                    <label class="custom-file-label" for="file">제품 사진 업로드 하기</label>
                </div>
                <br><br><br><br>
                <div class="beer-name">
                    <label>맥주 이름을 입력해주세요</label>
                    <input type="text" class="form-control" id="beer-name" placeholder="제품명">
                </div>
                <br><br>
                <div class="beer-type">
                    <label>맥주 종류를 입력해주세요</label>
                    <select class="form-control" id="beer-type">
                        <option>----맥주 종류를 선택해주세요----</option>
                        <option>에일</option>
                        <option>포터/스카우트</option>
                        <option>밀맥주</option>
                        <option>라거</option>
                        <option>발포주</option>
                    </select>
                </div>
                <br><br>
                <div class="form-group">
                    <label>맥주 제조사를 입력해주세요</label>
                    <input type="text" class="form-control" id="beer-company" placeholder="제조사 이름">
                </div>
                <br><br>
                <div class="form-group">
                    <label>맥주 제조국를 입력해주세요</label>
                    <input type="text" class="form-control" id="beer-country" placeholder="제조국 입력">
                </div>
                <br><br>
                <div class="form-group">
                    <label>맥주 제조날짜</label>
                    <p><input type="date" id="beer-date"></p>
                </div>
                <div class="form-group">
                    <label>미니스톱에서 파나요?</label>
                    <input type="number" class="form-control" id="mini-price-1" placeholder="1개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <input type="number" class="form-control" id="mini-price-4" placeholder="4개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

                    <label>GS25에서 파나요?</label>
                    <input type="number" class="form-control" id="GS-price-1" placeholder="1개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <input type="number" class="form-control" id="GS-price-4" placeholder="4개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

                    <label>CU에서 파나요?</label>
                    <input type="number" class="form-control" id="CU-price-1" placeholder="1개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <input type="number" class="form-control" id="CU-price-4" placeholder="4개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

                    <label>세븐일레븐에서 파나요?</label>
                    <input type="number" class="form-control" id="seven-price-1" placeholder="1개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <input type="number" class="form-control" id="seven-price-4" placeholder="4개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

                    <label>노브랜드에서 파나요?</label>
                    <input type="number" class="form-control" id="nobrand-price-1" placeholder="1개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    <input type="number" class="form-control" id="nobrand-price-4" placeholder="4개당 가격"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </div>

                <button onclick="posting_new()" type="submit" class="btn btn-primary">작성하기</button>

            </div>
        </div>
    </div>
</div>
</body>
</html>
