<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>Hello, world!</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <!--폰트-->
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

        <style>
            * {
                font-family: 'Nanum Pen Script', cursive;
                font-size: large;
            }
            .box{
                max-width: 500px;
                width: 95%;
                margin: 100px auto 0 auto;
            }
            .footer{
                margin-top: 100px;
            }
            .title, .subtitle {
                text-align: center;
            }
            .green{
                color: mediumseagreen;
            }
            .red{
                color: red;
            }
            .iddiv{
                display: flex;
                flex-flow: row;
            }
            .is-light{
                margin-left: 10px;
            }
        </style>


        <script>
            function register() {
                $.ajax({
                    type: "POST",
                    url: "/api/register",
                    data: {
                        id_give: $('#userid').val(),
                        pw_give: $('#userpw').val(),
                        name_give: $('#username').val(),
                        phone_give: $('#userphone').val()
                    },
                    success: function (response) {
                        console.log(response)
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.')
                            window.location.href = '/login'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }

            //아이디 중복체크
         function check_dup() {
            let userid = $("#userid").val()
            $.ajax({
                type: "POST",
                url: "/register/check_dup",
                data: {
                    userid_give: userid
                },
                success: function (response) {
                    if (response["exists"]) {
                        $("#res").text("이미 존재하는 아이디입니다.").removeClass("green").addClass("red")
                        $("#userid").focus()
                    } else {
                        $("#res").text("사용할 수 있는 아이디입니다.").removeClass("red").addClass("green")
                    }
                }
            })
        }


            function check_input() {
                let pw = $('#userpw').val()
                let pw2 = $('#userpw2').val()
                let id = $('#userid').val()
                //let c = document.getElementById('res');
                if(id == ''){
                    alert("아이디를 입력해주세요.");
                } else if (pw == '' || pw2 == '') {
                    alert("비밀번호를 입력해주세요.");
                } else if (pw != pw2 ) {
                    alert("비밀번호를 확인해주세요.");
                    pw = "";
                    pw2 = "";
                } else if (pw.length < 8 ) {
                    alert("비밀번호를 8자리 이상 입력해주세요.");
                } else {
                    register();
                }
            }

        </script>
    </head>
    <body>
        <section class="hero is-success">
            <div class="hero-body">
                <p class="title">캔을 beer</p>
                <p class="subtitle">회원가입</p>
            </div>
        </section>

        <div class="wrap">
            <div class="box">
                <div class="field">
                    <label class="label">ID</label>
                    <div class="control iddiv">
                    <input id="userid" class="input" type="text" placeholder="아이디를 입력해주세요">
                    <button class="button is-danger is-light" onclick="check_dup()">아이디 중복확인</button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div id="res" placeholder="아이디 중복을 확인해주세요"></div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                    <input id="userpw" class="input" type="password" placeholder="********">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password check</label>
                    <div class="control">
                    <input id="userpw2" class="input" type="password" placeholder="********">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                    <input id="username" class="input" type="text">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Phone</label>
                    <div class="control">
                    <input id="userphone" class="input" type="text" placeholder="000-0000-0000">
                    </div>
                </div>
                <button class="button is-warning" onclick="history.back()">뒤로가기</button>
                <button class="button is-primary" onclick="check_input()">회원가입</button>
            </div>
        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>캔을 Bear!</strong> by <a href="https://jgthms.com">sparta 3group</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">Bulma</a>. The website content
                    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Hanghae99</a>.
                </p>
            </div>
        </footer>

    </body>
</html>