<!doctype html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>Hello, world!</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- Favicons -->
        <link href="static/assets/img/favicon.png" rel="icon">
        <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
        <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
        <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="static/assets/css/style.css" rel="stylesheet">

        <!-- Vendor JS Files -->
            <script src="static/assets/vendor/aos/aos.js"></script>
            <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
            <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
            <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
            <script src="static/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="static/assets/js/main.js"></script>




        <style>
            .box{
                font-weight: 400;
                color: rgb(33, 37, 41);
                max-width: 1000px;
                width: 95%;
                margin: 100px auto 0 auto;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 24px 0px;
                padding: 30px;
            }
            .input{
                border-radius: 0px;
            }
            input:active{
                border-color: #25cff2;
                border-size: 1px;
                box-shadow: none;
            }
            .title, .subtitle {
                text-align: center;
            }
            .green{
                color: mediumseagreen;
            }
            .red{
                color: red;
            }
            .iddiv{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
            }
            .iddiv > .red-btn{
                border-radius: 0px;
            }
            .iddiv > .input{
                width: 82%;
            }
            .field{
                margin-bottom: 30px;
            }
            .label{
                color: white;
                font-size: 1px;
            }
            .red-btn{
                margin-left: 10px;
            }
            .lastdiv{
                text-align: center;
            }
            button:hover {
                background: rgb(253, 92, 40);
            }

        </style>


        <script>
            function register() {
                $.ajax({
                    type: "POST",
                    url: "/api/register",
                    data: {
                        id_give: $('#userid').val(),
                        pw_give: $('#userpw').val(),
                        name_give: $('#username').val(),
                        phone_give: $('#userphone').val()
                    },
                    success: function (response) {
                        console.log(response)
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.')
                            window.location.href = '/login'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }

            //아이디 중복체크
         function check_dup() {
            let userid = $("#userid").val()
            $.ajax({
                type: "POST",
                url: "/register/check_dup",
                data: {
                    userid_give: userid
                },
                success: function (response) {
                    if (response["exists"]) {
                        $("#res").text("이미 존재하는 아이디입니다.").removeClass("green").addClass("red")
                        $("#userid").focus()
                    } else {
                        $("#res").text("사용할 수 있는 아이디입니다.").removeClass("red").addClass("green")
                    }
                }
            })
        }


            function check_input() {
                let pw = $('#userpw').val()
                let pw2 = $('#userpw2').val()
                let id = $('#userid').val()
                if(id == ''){
                    alert("아이디를 입력해주세요.");
                } else if (pw == '' || pw2 == '') {
                    alert("비밀번호를 입력해주세요.");
                } else if (pw != pw2 ) {
                    alert("비밀번호를 확인해주세요.");
                    pw = "";
                    pw2 = "";
                } else if (pw.length < 8 ) {
                    alert("비밀번호를 8자리 이상 입력해주세요.");
                } else {
                    register();
                }
            }

        </script>
    </head>
    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="d-flex align-items-center">
            <div class="container d-flex justify-content-between">
                <div class="logo">
                    <h1 class="text-light"><a href="/">캔을 Beer!</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a href="/login">로그인</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
            </div>
        </header><!-- End Header -->



        <div class="wrap">
            <div class="box">
                <div class="field">
                    <div class="control iddiv">
                    <input id="userid" class="input" type="text" placeholder="ID">
                    <button class="button is-danger is-outlined" onclick="check_dup()">아이디 중복확인</button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div id="res" placeholder="아이디 중복을 확인해주세요"></div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">안보임/공간차지</label>
                    <div class="control">
                    <input id="userpw" class="input" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="field">
                    <label class="label">blank</label>
                    <div class="control">
                    <input id="userpw2" class="input" type="password" placeholder="Password check">
                    </div>
                </div>
                <div class="field">
                    <label class="label">blank</label>
                    <div class="control">
                    <input id="username" class="input" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">blank</label>
                    <div class="control">
                    <input id="userphone" class="input" type="text" placeholder="Phone number">
                    </div>
                </div>
                <div class="field">
                    <label class="label">blank</label>
                    <div class="control lastdiv">
                    <button class="button is-danger red-btn" onclick="check_input()">회원가입</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>